---
layout: default
---
{% include topnav.html %}

<main class="wrapper">
  <nav class="side-nav">
    <button id="toggleNavButton">Menu</button>
    <ul>
      <li>
        <span>Home</span>
        <ul>
          <li>
            <a href="{{site.baseurl}}/overview/">Overview</a>
          </li>
          <li>
            <a href="{{site.baseurl}}/browser-support/">Browser support</a>
          </li>
          <li>
            <a href="{{site.baseurl}}/sample-apps/">Sample apps</a>
          </li>
        </ul>
      </li>
      <li>
        <span>Guides</span>
        <ul>
          <li>
            <a href="{{site.baseurl}}/setup/">Setup</a>
          </li>
          <li>
            <a href="{{site.baseurl}}/configuring-and-personalizing/">Configuring and personalizing</a>
          </li>
          <li>
            <a href="{{site.baseurl}}/redux-and-state-management/">Redux and state management</a>
          </li>
        </ul>
      </li>
      <li>
        <span>Ready for production</span>
        <ul>
          <li>
            <a href="{{site.baseurl}}/building-and-deploying/">Building and deploying</a>
          </li>
          <li>
            <a href="{{site.baseurl}}/performance-testing/">Performance testing</a>
          </li>
          <li>
            <a href="{{site.baseurl}}/application-testing/">Application testing</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>

  <article>
    <h1>
      {{ page.title }}
    </h1>

    {{ content }}
  </article>
</main>

<script>
  toggleNavButton.addEventListener('click', function(event) {
    const nav = event.target.parentElement;
    nav.classList.toggle('open');
  });
</script>
